@model List<TodoApi.Models.TodoItem>

<table>
    <thead>
        <th>Name</th>
        <th>Is Complete</th>
    </thead>
    @for(int i =0; i < Model.Count; i++) {
        <tr>
            <td>
                @Model[i].Name
            </td>
            <td>
                @Model[i].IsComplete
            </td>
        </tr>
    }

</table>